# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Node
node_modules/

# IDE
.vscode/

# Logs
*.log

# Generated QR codes
qr_codes/

# Database
*.db
*.sqlite
*.sqlite3

# Docker
docker-data/

# Secrets
*.pem
*.key